<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block seotitle %}
            Questionnaire auto-école
        {% endblock %}
    </title>
</head>
<body>
    <figure>
        <img src="https://picsum.photos/100/100" />
    </figure>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/admin">Admin</a></li>
        <li><a href="/groupe">Permis Préparer</a></li>
        <li><a href="/user">Utilisateur</a></li>
        <li><a href="/questionnaire">Questionnaire</a></li>
        <li><a href="/login">Connexion</a></li>
    </ul>
    
    {% block contenu %}
        
    {% endblock %}
</body>
</html>