.paragraph--cart h2{
    text-align: center;
}

.cart {
    margin-bottom: 30px;
    width: 100%;
    padding: 30px;
    background-color: grey;
    display: flex;  
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.cart img {
    border-radius: 15px;
    margin-right: 15px;
}

.cart h2 {
    text-align: center;
}

.cart p {
    text-align: justify;
    padding: 10px;
    margin-bottom: 20px;
}

.cart a {
    margin: 0 75px;
}


@media screen and (max-width: 768px) {
    .cart {
        flex-direction: column;
    }

    .cart h2 {
        padding-top: 20px ;
    }
    .cart a {
        width: 100%;
        margin: 20px;
    }

}