footer {
    background-color: var(--blue);
    color: var(--white);
}

.footer-wrapper {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 2rem;
}

.footer-adress {
    display: grid;
    gap: 1.25rem;
}

.footer-adress p {
    margin-bottom: 0;
}

.footer-newsletter {
    justify-self: center;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1.25rem;
}

.footer-newsletter p {
    margin-bottom: 0;
}

.footer-newsletter form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.313rem;
}

.input-newsletter {
    height: 2.125rem;
    border-radius: 0.25rem;
}

 .input-newsletter::placeholder {
     font-size: 0.8rem;
     font-style: italic;
 }

 .input-newsletter:focus::placeholder {
    color: transparent;
}

.footer-socials {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1.25rem;
}

.footer-socials p {
    margin-bottom: 0;
}
/* .footer {
    width: 100%;
    background-color: var(--blue);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    color: var(--white);
}

.footer-item {
    width: 30%;
    display: flex;
    flex-direction: column;
    /* padding: 0 40px; */
    /* justify-content: center;
}

.footer-item form {
    margin: 20px 0;
}

.footer-item input {
    height: 35px;
    border-radius: 5px;
}

.logo-bot {
    background: url('/../images/logo.png') center center / cover;
    width: 100px;
    height: 100px;
}

.adress {
    line-height: 2rem;
} */

/* ****************************************************************************** */
/* Social media icon's ********************************************************** */
/* ****************************************************************************** */

.social-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer ul li {
    list-style: none;
    justify-self: center;
}

.footer ul li a {
    width: 2.813rem;
    height: 2.813rem;
    background-color: #fff;
    text-align: center;
    /* line-height: 80px; */
    font-size: 25px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}

.footer ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}

.footer ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

.footer ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

.footer ul li a:hover:before {
    top: 0;
}

.footer ul li:nth-child(1) a:before {
    background: #3b5999;
}

.footer ul li:nth-child(2) a:before {
    background: #55acee;
}

.footer ul li:nth-child(3) a:before {
    background: #0077b5;
}

.footer ul li:nth-child(4) a:before {
    background: #dd4b39;
}

hr {
    display: none;
}



/* *********************************************************** */
/* Responsive************************************************ */
/* *********************************************************** */

@media screen and (max-width: 768px) {

    footer {
        padding: 3rem 0;
    }

    .footer-wrapper {
        grid-template-columns: none;
        grid-template-rows: auto 1fr auto;
        gap: 3.125rem;
    }

    .footer-adress {
        justify-self: center;
        text-align: center;
    }

    .logo-bot {
        justify-self: center;
    }

    .footer-newsletter {
        text-align: center;
    }

    .footer-newsletter form {
        justify-self: center;
    }

    .footer-socials {
        justify-self: center;
    }

    .footer-socials p {
        justify-self: center;
    }

    .social-icons {
        gap: 2.5rem;
    }

    hr {
        display: block;
        border-top: 1px solid var(--blue-light);
    }

}