.nav-top {
    background-color: var(--blue);
    color: var(--white);
    border-bottom: none;
}

.nav-top a {
    color: var(--white);
    font-weight: bold;
    padding: 10px;
}

.nav-top a:before, .nav-top a:after {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: var(--white);
}

.nav-top a:before {
    border-width: 2px 0 2px 0;
    transform: scaleX(0);
}

.nav-top a:after {
    border-width: 0 2px 0 2px;
    transform: scaleY(0);
}

.nav-top a:hover:before, .nav-top a:hover:after {
    transform: scale(1, 1);
}

.nav-top a:hover {
    color: var(--blue-light);
}
