.header-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 6.25rem;
    position: fixed;
    top: 0;
    background-color: var(--blue);
    padding: 0.625rem 3.125rem;
}

.nav-items {
    margin: auto;
}

.menu-item {
    width: 100%;
    color: var(--white);
    font-weight: bold;
    padding: 10px;
    box-shadow: inset 0 0 0 0 var(--blue-light);
    color: var(--white);
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.menu-item:hover {
    box-shadow: inset 100% 0 0 0 var(--blue);
    color: white;
}