:root {
    /* font */
    --title: 'Orbitron', cursive;
    --text: 'Roboto', sans-serif;
    /* --basic:; */

    /* color  */
    --green:rgb(97, 189, 97);
    --red:rgb(230, 84, 84);
    --blue-light:#7e92f7;
    --blue:#3c4575;
    --white:#fff;
    --black: #000;
    --grey:rgb(177, 176, 176);

    /* bouton  */
    --btn-radius: 0.313rem;
    --btn-padding: 0.313rem 0.938rem;
    
    
}
.question_illustration {
	height: 40vh;
	width: 100%;
	border-radius: 15px;
}
.question_ecrite {
	background: url(../img/Questions-Banner.jpg) center center / cover;
}
