/* Gère la page d'accueil  */

header {
    padding: 0;
    margin: 0;
    max-width: 100%;
}



.subheader {
    position: relative;
    background: url('../img/voiture.jpg') 70% 100% / cover;
    display: grid;
    grid-template-columns: 45% 55%;
    width: 100%;
    padding: 0;
    margin: 0;
    min-height: 56vh;
}

.subheader::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgb(129, 134, 159, 0.89) 40%, rgba(29, 48, 253, 0) 70%);
} 

.container-subheader {
    grid-column: 1 / 2;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.content-subheader {
    grid-column: 1 / 3;
    align-self: center;
    justify-self: center;
}

.text-content-subheader {
    display: grid;
    grid-gap: 3.125rem;
    margin: 15%;
    text-align: center;
}


.grid-container-subheader {
    grid-column: 1 / 2;
}

.text-intro {
    font-weight: 500;
}

.btn-subheader {
    width: 10rem;
    justify-self: center;
}

.home-presentation {
    display: grid;
    gap: 1.25rem;
}

.home-presentation-content {
    position: relative;
    background: url('../img/route.png') 66% center / cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 140vh;
}

.home-presentation h2 {
    margin-top: 2.5rem;
    text-decoration: dashed;
    text-align: center;
}

.home-presentation-content {
    min-height: 0;
    text-align: justify;
}

.article-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
}

.article-2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    transform: translateX(1.188rem);
    align-self: center;
}

.article-3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.article-4 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    transform: translateX(1rem) translateY(4.438rem);
}

.article-5 {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    align-self: end;
}


.cta {
    display: grid;
    grid-template-columns: 2fr;
    margin-bottom: 2.5rem;
}

.cta .btn-blue {
    width: 9.625rem;
    justify-self: center;
}

/*
header {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.bandeau {
    display: block;
    background: url('/../images/voiture.jpg') center center / cover;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 60vh;
}
*/

/* */

/*
.corps {
    height: 300vh;
    width: 100%;
    background: url('/../images/route.png') center center / cover ;
    position: relative;
}

.main h2 {
    font-family: var(--title1);
    font-size: 2.5rem;
    text-align: center;
    padding-top: 25px;
}

.corps article {
    width: 30%;
    text-align: justify;

}

.article-1 {
    position: absolute;
    top: 150px;
    left: 10%;
	cursor: url('/../images/icons/moto.png'),pointer;
}

.article-2 {
    position: absolute;
    top: 450px;
    right: 10%;
	cursor: url('/../images/icons/voiture.png'),pointer;
}

.article-3 {
    position: absolute;
    top: 850px;
    left: 10%;
}

.article-4 {
    position: absolute;
    bottom: 450px;
    right: 10%;
}

.article-5 {
    position: absolute;
    bottom: 150px;
    left: 10%;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.article-5 a {
    margin-top: 15px;
    padding: 5px 15px;
    background-color: #7e92f7;
    color: #fff;
}

.article-5 a:hover {
    background-color: #c7cff5;
    color: #000;
}
*/
/* .subheader {
    color: red;
    background-color: grey;
} */


@media screen and (max-width: 768px) {

    .subheader::before {
        background: linear-gradient(90deg, rgb(129, 134, 159, 0.89) 75%, rgba(29, 48, 253, 0) 140%);
    }

    .container-subheader {
        grid-column: 1 /3;
    }

    .home-presentation {
        position: relative;
        background: url('../img/bckgrnd-autoecole-mobile.png') 66% center / cover;
    }

    .home-presentation::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgb(157 162 197 / 96%) 140%, rgba(29, 48, 253, 0) 140%);
    }

    .home-presentation h2 {
        z-index: 1;
    }

    .home-presentation-content {
        background: none;
    }

    .article-1 {
        grid-column: 1 / 3;
    }
    
    .article-2 {
        grid-column: 1 / 3;
        transform: none;
    }
    
    .article-3 {
        grid-column: 1 / 3;
    }
    
    .article-4 {
        grid-column: 1 / 3;
        transform: none;
    }
    
    .article-5 {
        grid-column: 1 / 3;
    }

    .cta {
        z-index: 1;
    }

}