/* Gère la page d'accueil  */

header {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.subheader {
    position: relative;
    background: url('../img/voiture.jpg') center center / cover;

.bandeau {
    display: block;
    background: url('/../images/voiture.jpg') center center / cover;

    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 6.25rem;
    height: 60vh;
}

/* .subheader::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgb(129, 134, 159) 33%, rgba(29, 48, 253, 0) 60%);
} */

.grid-container-subheader {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr auto auto;
    grid-gap: 1rem;
    width: 40%;
    margin: 0 4rem;
    top: 4.688rem;
    max-height: 55vh;
    /* background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 17px );
    -webkit-backdrop-filter: blur( 17px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

.main-title {
    white-space: nowrap;
}

.btn-subheader {
    width: 10rem;
    justify-self: center;
}


.corps {
    position: relative;
    background: url('../img/route.png') center center / cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6fr;
    min-height: 150vh;
}

.article-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.article-2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    transform: translateX(90px);
}

.article-3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.article-4 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    transform: translateX(90px);
}

.article-5 {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}


.main h2 {
    text-align: center;
}

.cta {
    display: grid;
    grid-template-columns: 2fr;
}

.cta .btn-blue {
    width: 9.625rem;
    justify-self: center;
}

/* */


/* .corps {
    height: 300vh;
    width: 100%;
    background: url('/../images/route.png') center center / cover ;
    position: relative;
} */

/* .main h2 {
    font-family: var(--title1);
    font-size: 2.5rem;
    text-align: center;
    padding-top: 25px;
}

.corps article {
    width: 30%;
    text-align: justify;

}

.article-1 {
    position: absolute;
    top: 150px;
    left: 10%;
	cursor: url('/../images/icons/moto.png'),pointer;
}

.article-2 {
    position: absolute;
    top: 450px;
    right: 10%;
	cursor: url('/../images/icons/voiture.png'),pointer;
}

.article-3 {
    position: absolute;
    top: 850px;
    left: 10%;
}

.article-4 {
    position: absolute;
    bottom: 450px;
    right: 10%;
}

.article-5 {
    position: absolute;
    bottom: 150px;
    left: 10%;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.article-5 a {
    margin-top: 15px;
    padding: 5px 15px;
    background-color: #7e92f7;
    color: #fff;
}

.article-5 a:hover {
    background-color: #c7cff5;
    color: #000;
} */
.subheader {
    color: red;
    background-color: grey;
}
